<form method="post" action="{{ path('flash_card_delete', {'id': flash_card.id, 'groupId': flash_card.GroupId.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flash_card.id) }}">
    <button class="btn">Delete</button>
</form>
