<form method="post" action="{{ path('flash_card_delete', {'id': flash_card.id, 'groupId': flash_card.GroupId.id}) }}" onsubmit="return confirm('Jesteś pewny, że chcesz usunąć ten element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flash_card.id) }}">
    <button class="btn">Usuń</button>
</form>
