{% extends 'base.html.twig' %}

{% block title %}Edycja fiszek
{% endblock %}

{% block body %}
	<div class="d-flex flex-row justify-content-center align-items-center w-100 h-100">
		<div>
			<h1>Edytuj Fiszkę</h1>
			{{ include('flash_card/_form.html.twig', {'button_label': 'Popraw'}) }}
		</div>
	</div>
{% endblock %}
