{% extends 'base.html.twig' %}

{% block title %}New FlashCard{% endblock %}

{% block body %}
    <h1>Create new FlashCard</h1>

    {{ include('flash_card/_form.html.twig') }}

    <a href="{{ path('flash_card_index', {'groupId': groupId}) }}">back to list</a>
{% endblock %}
