<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid p-0">
			<div class="row">
				{% if menu|default %}
				<div class="col-auto col-md-3 col-lg-2 vh-100" id="menu-container">
				{% include('menu.html') %}
				</div>
				<div class="col-auto col-md-9 col-lg-10 vh-100 flex-fill">
				{% else %}
				<div class="col-12 vh-100">
				{% endif %}
				{% block body %}
				</div>
				{% endblock %}
			</div>
		</div>
	{% block javascripts %}
			<script src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	{% endblock %}
	</body>
</html>
