{% extends 'base.html.twig' %}

{% block menu %}
	<div class="menu">
		<ul>
			{% for item in menu %}
				<li>
					<a href="{{item.url}}" {% if item.active == true %} style="color:red" {% endif%}>
						{{item.name}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
