<nav id="menu" class="navbar navbar-expand-md navbar-dark bg-dark h-100 p-0">
	<div class="w-100 p-0">
		<button class="navbar-toggler p-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="list-group list-group-flush flex-fill">
				{% for item in menu %}
					<div>
						<a href="{{item.url}}" class="list-group-item list-group-item-action list-group-item-light fs-4 ps-4 {% if item.active == true %} active {% endif%}" aria-current="true">
							{{item.name}}
						</a>
					</div>
				{% endfor %}
				{% if app.user %}
					<div class="list-group-item list-group-item-action list-group-item-light fs-6 ps-4 disabled">
						Zalogowany jako:
						{{ app.user.login }}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
